.btn-hollow {
  color: $primary;
  background-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-color: $primary;
  border-radius: 4px;
  font-size: 1em;
  padding: $halfUnit $quarterUnit;
  transition-duration: 0.5s;

  &:hover {
    background-color: $primaryMedium;
    transition: all 0.5s;
  }

  &:disabled {
    border-color: $primaryDark;
    color: $primaryDark;
    background-color: $primaryDarkest;
    cursor: not-allowed;
  }
}

.btn-25 {
  width: 25%;
}

// @import "./variables.scss";

// .btn {
//   min-width: calc(20% - 16px);
//   border: 0;
//   border-radius: 3px;
//   margin: 8px;
//   font-size: 1em;
//   font-weight: bold;
//   cursor: pointer;
//   background: $lightGold;
// }

// .btn-primary {
//   background: $gold;
// }

// .btn-secondary {
//   background: $lightGold;
// }

// @for $i from 2 through 5 {
//   $width: calc((100% / #{$i}) - #{$doubleUnit});

//   .btn-#{$i} {
//     width: $width;
//   }
// }

// .btn-1 {
//   width: calc(50% - #{$doubleUnit});
// }
