// COLOR PALETTE
$white: #fff;
$black: #000;

$primary: #daa04a;
$primaryLight: #f0cc6d;
$primaryMedium: #854420;
$primaryDark: #622f11;
$primaryDarkest: #251002;

$grey: #c7c8ca;
$darkGrey: #b3b5b4;
$lightGrey: #e3e4e5;
$gold: #d4af37;
$lightGold: #d4bf7b;

// SCORER PALETTE
$sBlue: #06918d;
$sBlueMedium: #90d4d1;
$sBlueLight: #cddfe4;
$sPink: #f159ba;
$sPinkMedium: #f7b2d3;
$sPinkLight: #f7deea;
$sBlack: #4d4d4d;
$sBlackMedium: #888989;
$sBlackLight: #d6d9d9;
$sOrange: #db8b56;
$sOrangeMedium: #f0bb92;
$sOrangeLight: #f0dbcc;
$sBrown: #89664a;
$sBrownMedium: #c9b19d;
$sBrownLight: #dbc8b9;

// UNITS
$halfUnit: 4px;
$unit: 8px;
$doubleUnit: 16px;
