@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 16px; }

* {
  box-sizing: border-box;
  font-family: 'Bitter', serif; }

.btn {
  min-width: calc(20% - 16px);
  border: 0;
  border-radius: 3px;
  margin: 8px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background: #d4bf7b; }

.btn-primary {
  background: #d4af37; }

.btn-secondary {
  background: #d4bf7b; }

.btn-2 {
  width: calc((100% / 2) - 16px); }

.btn-3 {
  width: calc((100% / 3) - 16px); }

.btn-4 {
  width: calc((100% / 4) - 16px); }

.btn-5 {
  width: calc((100% / 5) - 16px); }

.btn-1 {
  width: calc(50% - 16px); }

.screen {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column; }

.screen-header {
  height: 8vh;
  overflow: hidden;
  background: #000; }
  .screen-header img {
    max-height: 100%; }

.screen-footer {
  width: 100%;
  height: 4px;
  background: #000; }

.screen-container {
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.screen-main {
  flex: 1;
  overflow: scroll;
  background: linear-gradient(#fff, #e3e4e5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.screen-controls {
  height: 8vh;
  border-top: 1px solid #b3b5b4;
  background: #c7c8ca;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  z-index: 30; }
  .screen-controls.align-right {
    justify-content: flex-start; }

.content h1 {
  font-size: 1.2em;
  text-align: center;
  margin: 8px 0; }

.content-box, .content-list {
  background: #e3e4e5;
  border: 1px solid #c7c8ca;
  border-radius: 4px;
  margin: 0 16px;
  padding: 16px;
  display: flex;
  flex-direction: column; }
  .content-box img, .content-list img {
    max-width: 50%;
    display: block;
    margin: 0 auto; }

.content-nav {
  margin-top: 8px;
  text-align: center; }

.content-list {
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none; }
  .content-list .content-item {
    text-align: center;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; }
    .content-list .content-item input[type="radio"],
    .content-list .content-item input[type="checkbox"] {
      display: none; }
    .content-list .content-item input[type="radio"] + label,
    .content-list .content-item input[type="checkbox"] + label {
      display: block;
      cursor: pointer; }
      .content-list .content-item input[type="radio"] + label img,
      .content-list .content-item input[type="checkbox"] + label img {
        max-width: 100%; }
      .content-list .content-item input[type="radio"] + label .label-text,
      .content-list .content-item input[type="checkbox"] + label .label-text {
        display: block;
        border-radius: 3px;
        font-size: 1em;
        font-weight: bold;
        margin-top: 8px;
        padding: 4px 8px;
        background: #d4bf7b; }
      .content-list .content-item input[type="radio"] + label .label-checkmark,
      .content-list .content-item input[type="checkbox"] + label .label-checkmark {
        display: none;
        width: 16px;
        height: 16px;
        background: url("/images/options/checkmark.png") left top no-repeat; }
    .content-list .content-item input[type="radio"]:checked + label .label-text,
    .content-list .content-item input[type="checkbox"]:checked + label .label-text {
      background: #d4af37; }
    .content-list .content-item input[type="radio"]:checked + label .label-checkmark,
    .content-list .content-item input[type="checkbox"]:checked + label .label-checkmark {
      display: inline-block;
      position: absolute;
      margin: -8px -4px 0 0;
      background: url("/images/options/checkmark.png") left top norepeat; }

.hint {
  font-size: 0.6em;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 20px #b3b5b4;
  z-index: 10; }
  .hint p {
    margin: 4px; }

.scorer-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }
  .scorer-table img {
    display: block;
    max-width: 100%;
    height: 2em;
    margin: 0 auto; }

.row {
  display: flex;
  width: 100%; }

.cell, .cell-cat, .cell-1, .cell-2, .cell-3, .cell-4, .cell-5 {
  padding: 4px; }
  .cell input, .cell-cat input, .cell-1 input, .cell-2 input, .cell-3 input, .cell-4 input, .cell-5 input {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 4px;
    text-align: center; }
    .cell input::placeholder, .cell-cat input::placeholder, .cell-1 input::placeholder, .cell-2 input::placeholder, .cell-3 input::placeholder, .cell-4 input::placeholder, .cell-5 input::placeholder {
      color: #000; }
  .cell span, .cell-cat span, .cell-1 span, .cell-2 span, .cell-3 span, .cell-4 span, .cell-5 span {
    display: block;
    border-radius: 4px; }
  .cell:nth-child(2), .cell-cat:nth-child(2), .cell-1:nth-child(2), .cell-2:nth-child(2), .cell-3:nth-child(2), .cell-4:nth-child(2), .cell-5:nth-child(2) {
    background: #cddfe4; }
    .cell:nth-child(2) input, .cell-cat:nth-child(2) input, .cell-1:nth-child(2) input, .cell-2:nth-child(2) input, .cell-3:nth-child(2) input, .cell-4:nth-child(2) input, .cell-5:nth-child(2) input {
      background: #90d4d1; }
      .total .cell:nth-child(2) input, .total .cell-cat:nth-child(2) input, .total .cell-1:nth-child(2) input, .total .cell-2:nth-child(2) input, .total .cell-3:nth-child(2) input, .total .cell-4:nth-child(2) input, .total .cell-5:nth-child(2) input {
        background: #06918d; }
    .header .cell:nth-child(2) span, .header .cell-cat:nth-child(2) span, .header .cell-1:nth-child(2) span, .header .cell-2:nth-child(2) span, .header .cell-3:nth-child(2) span, .header .cell-4:nth-child(2) span, .header .cell-5:nth-child(2) span {
      background: #06918d; }
  .cell:nth-child(3), .cell-cat:nth-child(3), .cell-1:nth-child(3), .cell-2:nth-child(3), .cell-3:nth-child(3), .cell-4:nth-child(3), .cell-5:nth-child(3) {
    background: #f7deea; }
    .cell:nth-child(3) input, .cell-cat:nth-child(3) input, .cell-1:nth-child(3) input, .cell-2:nth-child(3) input, .cell-3:nth-child(3) input, .cell-4:nth-child(3) input, .cell-5:nth-child(3) input {
      background: #f7b2d3; }
      .total .cell:nth-child(3) input, .total .cell-cat:nth-child(3) input, .total .cell-1:nth-child(3) input, .total .cell-2:nth-child(3) input, .total .cell-3:nth-child(3) input, .total .cell-4:nth-child(3) input, .total .cell-5:nth-child(3) input {
        background: #f159ba; }
    .header .cell:nth-child(3) span, .header .cell-cat:nth-child(3) span, .header .cell-1:nth-child(3) span, .header .cell-2:nth-child(3) span, .header .cell-3:nth-child(3) span, .header .cell-4:nth-child(3) span, .header .cell-5:nth-child(3) span {
      background: #f159ba; }
  .cell:nth-child(4), .cell-cat:nth-child(4), .cell-1:nth-child(4), .cell-2:nth-child(4), .cell-3:nth-child(4), .cell-4:nth-child(4), .cell-5:nth-child(4) {
    background: #d6d9d9; }
    .cell:nth-child(4) input, .cell-cat:nth-child(4) input, .cell-1:nth-child(4) input, .cell-2:nth-child(4) input, .cell-3:nth-child(4) input, .cell-4:nth-child(4) input, .cell-5:nth-child(4) input {
      background: #888989; }
      .total .cell:nth-child(4) input, .total .cell-cat:nth-child(4) input, .total .cell-1:nth-child(4) input, .total .cell-2:nth-child(4) input, .total .cell-3:nth-child(4) input, .total .cell-4:nth-child(4) input, .total .cell-5:nth-child(4) input {
        background: #4d4d4d; }
    .header .cell:nth-child(4) span, .header .cell-cat:nth-child(4) span, .header .cell-1:nth-child(4) span, .header .cell-2:nth-child(4) span, .header .cell-3:nth-child(4) span, .header .cell-4:nth-child(4) span, .header .cell-5:nth-child(4) span {
      background: #4d4d4d; }
  .cell:nth-child(5), .cell-cat:nth-child(5), .cell-1:nth-child(5), .cell-2:nth-child(5), .cell-3:nth-child(5), .cell-4:nth-child(5), .cell-5:nth-child(5) {
    background: #f0dbcc; }
    .cell:nth-child(5) input, .cell-cat:nth-child(5) input, .cell-1:nth-child(5) input, .cell-2:nth-child(5) input, .cell-3:nth-child(5) input, .cell-4:nth-child(5) input, .cell-5:nth-child(5) input {
      background: #f0bb92; }
      .total .cell:nth-child(5) input, .total .cell-cat:nth-child(5) input, .total .cell-1:nth-child(5) input, .total .cell-2:nth-child(5) input, .total .cell-3:nth-child(5) input, .total .cell-4:nth-child(5) input, .total .cell-5:nth-child(5) input {
        background: #db8b56; }
    .header .cell:nth-child(5) span, .header .cell-cat:nth-child(5) span, .header .cell-1:nth-child(5) span, .header .cell-2:nth-child(5) span, .header .cell-3:nth-child(5) span, .header .cell-4:nth-child(5) span, .header .cell-5:nth-child(5) span {
      background: #db8b56; }
  .cell:nth-child(6), .cell-cat:nth-child(6), .cell-1:nth-child(6), .cell-2:nth-child(6), .cell-3:nth-child(6), .cell-4:nth-child(6), .cell-5:nth-child(6) {
    background: #dbc8b9; }
    .cell:nth-child(6) input, .cell-cat:nth-child(6) input, .cell-1:nth-child(6) input, .cell-2:nth-child(6) input, .cell-3:nth-child(6) input, .cell-4:nth-child(6) input, .cell-5:nth-child(6) input {
      background: #c9b19d; }
      .total .cell:nth-child(6) input, .total .cell-cat:nth-child(6) input, .total .cell-1:nth-child(6) input, .total .cell-2:nth-child(6) input, .total .cell-3:nth-child(6) input, .total .cell-4:nth-child(6) input, .total .cell-5:nth-child(6) input {
        background: #89664a; }
    .header .cell:nth-child(6) span, .header .cell-cat:nth-child(6) span, .header .cell-1:nth-child(6) span, .header .cell-2:nth-child(6) span, .header .cell-3:nth-child(6) span, .header .cell-4:nth-child(6) span, .header .cell-5:nth-child(6) span {
      background: #89664a; }

.cell-cat {
  min-width: 16.66%;
  width: 16.66%; }

.cell-1 {
  width: calc(83.33% / 1); }

.cell-2 {
  width: calc(83.33% / 2); }

.cell-3 {
  width: calc(83.33% / 3); }

.cell-4 {
  width: calc(83.33% / 4); }

.cell-5 {
  width: calc(83.33% / 5); }
