@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import './variables.scss';

// BROWSER RESET AND DEFAULT

body {
  margin: 0;
  padding: 0;
  background: $white;
  font-size: $unit;
}

* {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
  z-index: 1;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $black;
  overflow: hidden;
  background-image: linear-gradient($black, $primaryDarkest);
}

.logo-top {
  width: 45%;
  max-width: 170px;
  margin: $unit auto;
}

@import 'animations';

@import 'icons';

@import 'buttons';

// SCREENS

@import 'screen-splash';
@import 'screen-home';
@import 'screen-setup';
@import 'screen-scorer';
