@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import './variables.scss';

// BROWSER RESET AND DEFAULT

body {
  margin: 0;
  padding: 0;
  background: $white;
  font-size: $unit;
}

* {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
  z-index: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $black;
  overflow: hidden;
  background-image: linear-gradient($black, $primaryDarkest);
}

.logo-top {
  width: 45%;
  max-width: 170px;
  margin: $unit auto;
}

@import 'animations';

@import 'icons';

@import 'buttons';

// SCREENS

@import 'screen-splash';
@import 'screen-home';
@import 'screen-setup';
@import 'screen-scorer';

h1 {
  color: white;
}

// // OLD STUFF

// .screen {
//   width: 100vw;
//   height: 100vh;
//   max-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

// .screen-header {
//   height: 8vh;
//   overflow: hidden;
//   background: $primary;

//   img {
//     max-height: 100%;
//   }
// }

// .screen-footer {
//   width: 100%;
//   height: $halfUnit;
//   background: $primary;
// }

// .screen-container {
//   flex: 1;
//   overflow: scroll;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
// }

// .screen-main {
//   flex: 1;
//   overflow: scroll;
//   background: linear-gradient($white, $lightGrey);
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
// }

// .screen-controls {
//   height: 8vh;
//   border-top: 1px solid $darkGrey;
//   background: $grey;
//   // box-shadow: 0 4px 20px $darkGrey;
//   display: flex;
//   justify-content: space-evenly;
//   z-index: 30;
// }

// .screen-controls-justify {
//   justify-content: space-between;
// }

// .screen-controls-subgroup {
//   display: flex;
//   justify-content: space-between;
// }

// // SECTIONS

// @import "./sections.scss";

// @import "./hint.scss";

// @import "./scorer.scss";
